//
// ブレイクポイント
//
//   * break...SP表示を適用する最大の画面幅

$break: 768px;



//
// 横幅
//
//   * wrap-max...最大の横幅（ヘッダー内の要素など）
//   * wrap...通常の横幅
//   * inner...コンテンツの横幅

$wrap-max: 1440px;
$wrap: 1000px;
$inner: 800px;



//
// カラー
//
//   * color-base...文字色
//   * color-title...h1～h6の文字色
//   * color-accent...アクセント文字色
//   * color-link...aタグの文字色
//   * bg-color-base...背景色
//   * bg-color-accent...アクセント背景色

$color-base: #c0c0c0;
$color-title: #f7f7f7;
$color-accent: #f7f7f7;
$color-link: #ff8514;;
$bg-color-base: #071e22;
$bg-color-accent: #071e22;



// 
// フォントウェイト
// 

$weight-thin: 300;
$weight-nomal: 400;
$weight-bold: 500;
$weight-black: 700;



//
// フォント 
//
//   * font-sans-serif...ゴシック体
//   * font-serif...明朝体

$font-sans-serif: 'BIZ UDPGothic', 'sans-serif' ;
$font-serif: 'sans';