@use "../vars" as *;
@use "../function" as *;

//
// root
//

html, body {
    font-family: #{$font-sans-serif}, sans-serif;
    font-size: 10px;
    color: $color-base;
}



//
// 見出し
//

h1 {
    @include fontsize(28); font-weight: 700;
    color: $color-title;
}

h2 {
    @include fontsize(22); font-weight: 700;
    color: $color-title;
}

h3 {
    @include fontsize(18.72); font-weight: 400;
    color: $color-title;
}

h4 {
    @include fontsize(15); font-weight: 400;
    color: $color-title;
}

h5 {
    @include fontsize(13.28); font-weight: 400;
    color: $color-title;
}

h6 {
    @include fontsize(10.72); font-weight: 400;
    color: $color-title;
}



//
// そのほか
//

p {
    line-height: 1.8em;
    @include fontsize(14);
}

a {
    color: $color-link;
}

li {
    line-height: 1.4em;
    @include fontsize(14);
}

summary {
    line-height: 1.8em;
    @include fontsize(14);
}

table {
    line-height: 1.4em;
    @include fontsize(14);
    font-weight: 400;
    th {
        font-weight: 700;
        text-align: left;
        @include fontsize(16);
    }
}

code {
    line-height: 1.2em;
    @include fontsize(14);    
}

footer {
    text-align: center;
    color: $color-base;
    @include fontsize(12);

    a {
        text-decoration: underline;
        color: $color-base;
    }
}

//
// 明朝体
//

.serif {
    font-family: #{$font-serif}, serif;
}
