@use "../vars" as *;
@use "../function" as *;

.bord {
    width: 90%;
    margin: 0 auto;
    padding: 40px 10px;
    color: $color-accent;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: $bg-color-accent;

    &--notice {
        margin-top: 40px;
        text-align: center;
        @include fontsize(12);
    }
}
